header {
  font-family: serif;
  font-weight: bold;
  text-align: center;
  border-radius: 30%;
  background-color: brown;
}

body {
  background-color: grey;
}

#fishpic {
  text-align:center;
  background-color: orange;
}

footer {
  background-color: brown;
  border-radius: 30%;
  text-align: center;
}

p {
  font-family: sans-serif;
  color: gray;
}

h1 {
  color: yellow;
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
  color: green;
}

h3 {
  color: black;
}

#colorOne {
  background-color: orange;
  line-height: 40px;
  text-align: center;
}

#colorTwo {
  background-color: green;
  line-height: 60px;
  text-align: center;
}

#colorThree {
  background-color: brown;
  line-height: 80px;
  text-align: center;
}

#colorPalette {
  line-height: 30px;
}*/

tr {
 border-color: black;
 background-color: blue;
}

td {
  border-color: red;
  background-color: green;
}
